log.txt
UserConfig.txt
build/
*.log
*.xml
*.class
*.pdf
*.jar
dist/
Backups/
OsaisReports/
xmls/*.txt
xmls/errores/*.*
*.xlsx
mail.props
*.rar
osais.txt
Catalogo-de-bienes-servicios.xlsx
contadm/DirectoryStructure.js 